{% load static %}
{% static "images" as baseUrl %}
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<style>
    body{
    
    /* background-color:#ff666f; */
    background-image: url("{% static 'images/image.jfif'%}");
    background-repeat: no-repeat;
    background-size: cover;

}
.container{
    opacity: 80%;
}
</style>

    </head>
    <body>
        {% csrf_token %}     
        {% block content %}
        <br/>
        <br/>

        <br/>

        <br/>
        <br/>

        <div class="container">
           
                         <div><a type="button"  href="addemployee" class="btn btn-danger badge-pill float-right" style="width:100px;">Add</a><br/></div>
                         <br/>
               
                        <table class="table table-dark">
                            <thead>
                                <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Name</th>
                                <th scope="col">Company</th>
                                <th scope="col">salary</th>
                               
                            </tr>

                            </thead>
                            <tbody>
                                {% for emp in employees %}
                                <tr>
                                    <td>{{emp.id}}</td>
                                    <td>{{emp.name}}</td>
                                    <td>{{emp.company}}</td>
                                    <td>{{emp.salary}}</td>
                                   
                                   
                                </tr>
                                {% endfor %}   
                            </tbody>

                        </table>
                        {% endblock content %}

        </div>
    </body>
</html>